* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #0f0f0f, #1a1a1a, #b88a44);
    padding: 10px;
}

.todo {
    width: 50%;
    max-height: 540px;
    background: #0f0f0f;
    padding: 40px 30px 70px;
    margin: 100px auto 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.todo h2 {
    color: burlywood;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1a1a1a;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    color: white;
    font-weight: bold;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: linear-gradient(135deg, #d4af37, #b88a44, #ffdd99);
    color: #1a1a1a;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(212, 175, 55, 0.6);
}

ul li {
    user-select: none;
    cursor: pointer;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    list-style: none;
    position: relative;
    color: #e6c17b;
    font-weight: bold;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
   
      background-image: url(images/radio.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 6px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
     background-image: url(images/check.png);
  
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

ul li span:hover {
    background: #edeef0;
}
